<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="/dist/ssr-and-ssg-proj/server/server.mjs" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Node.js Server" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server/server.mjs" />
        </rule>
      </rules>
    </rewrite>
      </system.webServer>
</configuration>
